In [1]:
import geopandas as gpd
from shapely.geometry import mapping
import numpy as np

In [2]:
geo_data = gpd.read_file('data/ne_10m_rivers_lake_centerlines/ne_10m_rivers_lake_centerlines.shp')

In [9]:
geo_data[(geo_data.name.isin(['Vltava']))].head()

,dissolve,scalerank,featurecla,name,name_alt,rivernum,note,min_zoom,name_en,min_label,...,name_sv,name_tr,name_vi,name_zh,name_fa,name_he,name_uk,name_ur,name_zht,geometry
792,1050River,9,River,Vltava,Moldau,1050,Version 1.2 edit in N. America and Europe,7.1,Vltava,8.1,...,Vltava,Vltava,Vltava,伏尔塔瓦河,مولداو,ולטאבה,Влтава,ولٹاوا,伏爾塔瓦河,"MULTILINESTRING ((13.98413 48.77778, 13.96387 ..."